<div class="auth">
    <div class="auth_left">
        <div class="card">
            <div class="text-center mb-5">
                <a class="header-brand" href="javascript:void(0)">
                    <!-- <i class="fe fe-command brand-logo"></i> -->
                    <img src="../../../../assets/images/themes/triskelion.svg" style="width: 100px; height:100px;" alt="logo">
                </a>
            </div>
            <div class="card-body">
                <form (ngSubmit)="reinitialiser(reinit)" #reinit="ngForm">
                    <div class="card-title text-center">Mot de passe oublié</div>
                    <p class="text-muted">Entrez votre email et votre mot de passe sera reinitialisé puis vous sera envoyé par mail.</p>
                    <div class="form-group">
                        <label class="form-label" for="exampleInputEmail1">Adresse email</label>
                        <input type="email" name="email" [(ngModel)]="email" class="form-control" id="exampleInputEmail1" aria-describedby="email"
                            placeholder="Entrer votre email" required>
                    </div>
                    <div class="form-footer">
                        <button type="submit" class="btn btn-primary btn-block">Réinitialiser</button>
                    </div>
                </form>
            </div>
            <div class="text-center text-muted">
                Pas nécessaire, retour à la <a [routerLink]="['/connexion']" href="javascript:void(0)">Connexion</a>.
            </div>
        </div>
    </div>
    <div class="auth_right">
        <img src="../../../../assets/images/themes/ultima_test.svg" class="img-fluid" alt="Connexion_accueil">
    </div>
</div>