<div class="auth">
    <div class="auth_left">
        <div class="card" style="z-index: auto;">
            <div class="text-center mb-5">
                <a class="header-brand" href="javascript:void(0)">
                    <!-- <i class="fe fe-command brand-logo"></i> -->
                    <img src="../../../../assets/images/themes/triskelion.svg" style="width: 100px; height:100px;" alt="logo">
                </a>
            </div>
            <div class="card-body">
                <form (ngSubmit)="reinitialiser(reinit)" #reinit="ngForm">
                    <div class="card-title text-center">Changer le mot de passe</div>
                    <p class="h6 text-muted font-weight-normal mb-3">Entrer le nouveau mot de passe</p>
                    <input class="form-control" type="email" name="email" ngModel={{email}} readonly>
                    <div class="form-group">
                        <label class="form-label" for="exampleInputEmail1">Nouveau mot de passe</label>
                        <input type="password" name="password"
                         [(ngModel)]="password" class="form-control" 
                         #passwordvar="ngModel"
                         [ngClass]="{'is-invalid': passwordvar.touched && !passwordvar.valid}"
                         id="password" aria-describedby="password"
                         placeholder="Entrer nouveau mot de passe" required
                        >
                         <small class="invalid-feedback">
                             <span *ngIf="passwordvar.errors?.required">
                                Entrez votre nouveau mot de passe
                             </span>
                         </small>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="exampleInputEmail1">Confirmer mot de passe</label>
                        <input type="password" name="cpassword"
                         [(ngModel)]="cpassword" class="form-control" 
                         #cpasswordvar="ngModel"
                         [ngClass]="{'is-invalid': cpasswordvar.touched && !cpasswordvar.valid}"
                         id="cpassword" aria-describedby="cpassword"
                         placeholder="Confirmer nouveau mot de passe" required
                        >
                        <small class="invalid-feedback">
                            <span *ngIf="cpasswordvar.errors?.required">
                                Entrez la confirmation
                            </span>
                        </small>
                        <small *ngIf="!verif()">
                            <span>
                                {{conf}}
                            </span>
                        </small>
                    </div>
                    <div class="form-footer">
                        <button type="submit" class="btn btn-primary btn-block">Réinitialiser</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="auth_right">
        <img src="../../../../assets/images/themes/ultima_test.svg" class="img-fluid" alt="Connexion_accueil">
    </div>
</div>